body {
  background: url(dictionary.jpg);
  background-position: center;
  background-size: cover;
}

.App {
  text-align: center;
  max-width: 960px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  display: inline;
}
.App-header h1 {
  font-size: 55px;
  margin: 0 0 20px;
  color: #5f2f41e7;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(78, 47, 51);
}

.App-footer,
.App-footer .Portfolio-site-link,
.App-footer .GitHub-link {
  font-size: 16px;
  color: #ebd0d2;
  font-weight: 600;
  text-shadow: 2px 1px 1px #65393c;
  margin: 10px;
  text-decoration: none;
}

.App-footer .Portfolio-site-link {
  font-weight: 700;
}

.App-footer .GitHub-link {
  color: #65393c;
  text-shadow: 1px 1px 1px #ebd0d2;
  font-weight: 700;
}

.App-footer .Portfolio-site-link:hover,
.App-footer .GitHub-link:hover {
  font-weight: 900;
}

img {
  margin-top: 20px;
  border-radius: 50%;
  border: 1px solid #7b4050;
  box-shadow: 2px 2px 12px rgb(78, 47, 51);
}

img:hover {
  box-shadow: 5px 5px 15px rgb(103, 57, 63);
  border: 2px solid #866568;
}

@media (max-width: 393px) {
  .App-header h1 {
    font-size: 40px;
    margin: 0 0 10px;
  }

  .App-footer,
  .App-footer .Portfolio-site-link,
  .App-footer .GitHub-link {
    font-size: 12px;
  }
}
