.Dictionary h1 {
  font-size: 32px;
  font-weight: bold;
  color: #7b4050f7;
}

.Dictionary form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Dictionary section {
  background-color: rgba(227, 210, 220, 0.575);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 2px 2px 10px rgb(78, 47, 51);
  margin: 10px 10px;
  border: 1px solid #7b4050;
}

.Dictionary input {
  width: 100%;
  padding: 7px 4px;
  border: 2px solid #866568;
  border-radius: 7px;
  color: #845b2c;
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1px;
  box-shadow: 2px 2px 5px rgb(103, 57, 63);
}

.Dictionary input:hover {
  box-shadow: 4px 4px 10px rgb(103, 57, 63);
}

.Dictionary .hint {
  margin-top: -5px;
  text-align: left;
  color: #7b4050f2;
  font-weight: 600;
  font-size: 17px;
  font-style: italic;
  letter-spacing: 0.5px;
}
