.Meaning h3 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  color: #7b4050;
}

.Meaning .definition {
  color: #6a4923;
  font-weight: 600;
  font-size: 18px;
}

.Meaning .example {
  color: #7b4050f2;
  font-weight: 700;
  font-size: 17px;
  font-style: italic;
}
