.Synonyms {
  margin: 15px 0 0;
  padding: 0;
  color: #7b4050f2;
  font-style: italic;
}

.Synonyms li {
  font-size: 15px;
  display: inline;
  padding-right: 10px;
  font-weight: 700;
  font-size: 17px;
}
